# Python
venv/
__pycache__/
*.pyc

# Django
*.sqlite3
*.log
*.pot
*.pyc
media/
staticfiles/

# Node / frontend
frontend/cargo-frontend/node_modules/
frontend/cargo-frontend/dist/
frontend/cargo-frontend/build/venv/
frontend/cargo-frontend/node_modules/

accessing wsl.txt
